---
layout: default
---
{% include stories/subchapter_header.html story_id=page.story_id %}

<article class="post">
  <hr />
  <header class="post-header story-header-{{ page.story_id }}">
    <h1 class="chapter-title">
      {% include stories/chapter_title.html story_id=page.story_id chapter_id=page.chapter_id %}
    </h1>
    <h2 class="subchapter-title">
      {% include stories/subchapter_title.html story_id=page.story_id chapter_id=page.chapter_id subchapter_id=page.subchapter_id%}
    </h2>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>

{% include stories/subchapter_footer.html %}
